@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%; }

* {
  font-family: "Lato", Helvetica, sans-serif;
  line-height: 1.5; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.375rem; }

h4 {
  font-size: 1.125rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 0.875rem; }

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8; }

.font-light {
  font-weight: 300; }

.font-regular {
  font-weight: 400; }

.font-heavy {
  font-weight: 700; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.justify {
  text-align: justify; }

.hidden-sm {
  display: none; }

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (min-width: 33.75em) {
    .container {
      width: 80%; } }
  @media only screen and (min-width: 60em) {
    .container {
      width: 75%;
      max-width: 60rem; } }

.row {
  position: relative;
  width: 100%; }

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem; }

.row::after {
  content: "";
  display: table;
  clear: both; }

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%; }

.col-1-sm {
  width: 4.3333333333%; }

.col-2-sm {
  width: 12.6666666667%; }

.col-3-sm {
  width: 21%; }

.col-4-sm {
  width: 29.3333333333%; }

.col-5-sm {
  width: 37.6666666667%; }

.col-6-sm {
  width: 46%; }

.col-7-sm {
  width: 54.3333333333%; }

.col-8-sm {
  width: 62.6666666667%; }

.col-9-sm {
  width: 71%; }

.col-10-sm {
  width: 79.3333333333%; }

.col-11-sm {
  width: 87.6666666667%; }

.col-12-sm {
  width: 96%; }

@media only screen and (min-width: 45em) {
  .col-1 {
    width: 4.3333333333%; }

  .col-2 {
    width: 12.6666666667%; }

  .col-3 {
    width: 21%; }

  .col-4 {
    width: 29.3333333333%; }

  .col-5 {
    width: 37.6666666667%; }

  .col-6 {
    width: 46%; }

  .col-7 {
    width: 54.3333333333%; }

  .col-8 {
    width: 62.6666666667%; }

  .col-9 {
    width: 71%; }

  .col-10 {
    width: 79.3333333333%; }

  .col-11 {
    width: 87.6666666667%; }

  .col-12 {
    width: 96%; }

  .hidden-sm {
    display: block; } }
.hr-text-center {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: #333;
  margin: 8px 0px; }

.hr-text-center::before,
.hr-text-center::after {
  content: "";
  flex-grow: 1;
  background: #333;
  height: 1px;
  font-size: 0px;
  font-size: calculateRem(0px);
  line-height: 0px;
  margin: 0px 8px -3px; }

.hr-text-center::before {
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), #fefefe 90%); }

.hr-text-center::after {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #fefefe 90%); }

.intro {
  margin: 0 auto;
  width: 75%;
  text-align: justify; }
  .intro a {
    border-bottom: 1px dashed #333;
    text-decoration: none; }
  @media only screen and (max-width: 33.75em) {
    .intro {
      width: 100%; } }

.section {
  margin: 0 auto;
  width: 75%; }
  @media only screen and (max-width: 33.75em) {
    .section {
      width: 100%; } }

.section-title {
  border-bottom: 1px solid #666666;
  display: inline-block;
  font-size: 18px;
  text-transform: uppercase;
  padding-bottom: 2px;
  -webkit-transition: all 0.125s ease-in-out;
  -moz-transition: all 0.125s ease-in-out;
  -ms-transition: all 0.125s ease-in-out;
  -o-transition: all 0.125s ease-in-out;
  transition: all 0.125s ease-in-out; }

.section-title:hover {
  border-bottom-style: dotted; }

p.muted {
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 14px;
  font-size: calculateRem(14px);
  padding-right: 16px;
  color: #4d4d4d; }

.img-circle {
  height: 180px;
  width: 180px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }

.gallery {
  margin: 0 auto; }
  .gallery .sizer, .gallery .item {
    width: 33.333%; }
  .gallery .item {
    float: left; }
    .gallery .item img {
      display: block;
      margin: auto;
      max-width: 90%;
      padding-bottom: 10%;
      -webkit-transition: all 0.125s ease-in-out;
      -moz-transition: all 0.125s ease-in-out;
      -ms-transition: all 0.125s ease-in-out;
      -o-transition: all 0.125s ease-in-out;
      transition: all 0.125s ease-in-out; }
  .gallery .item:hover img {
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05); }

/* clear fix */
.gallery:after {
  content: '';
  display: block;
  clear: both; }

nav.nav {
  margin: 0 auto;
  color: #333; }
  nav.nav ul {
    margin: 0 auto;
    padding: 0;
    position: relative;
    list-style: none;
    text-align: center; }
    nav.nav ul li {
      display: inline-block;
      padding: 6px 12px; }
      nav.nav ul li a {
        position: relative;
        display: block;
        border: 2px solid transparent;
        text-decoration: none;
        text-transform: uppercase;
        -webkit-transition: border 0.125s ease-in-out;
        -moz-transition: border 0.125s ease-in-out;
        -ms-transition: border 0.125s ease-in-out;
        -o-transition: border 0.125s ease-in-out;
        transition: border 0.125s ease-in-out; }
    nav.nav ul li.brand {
      padding-top: 0;
      vertical-align: middle;
      font-size: 60px;
      font-size: calculateRem(60px); }
    nav.nav ul li:hover:not(.brand) a {
      border-bottom: 2px solid #333; }

.nav-margin {
  margin: 0 auto 60px; }
  @media only screen and (min-width: 33.75em) {
    .nav-margin {
      margin-bottom: 20px; } }

.social {
  margin: 20px 0;
  padding: 0;
  position: relative;
  list-style: none;
  text-align: center; }
  .social li {
    display: inline-block; }
    .social li a {
      display: block;
      padding: 0 10px;
      position: relative;
      text-decoration: none;
      font-size: 24px;
      font-size: calculateRem(24px); }
      .social li a i {
        color: #333;
        display: block; }
  .social li:hover i {
    color: #666666; }

.weapon-grid {
  padding: 0;
  position: relative;
  list-style: none; }
  .weapon-grid li {
    display: inline-block; }
    .weapon-grid li a {
      display: block;
      padding: 0 20px;
      position: relative;
      text-decoration: none;
      font-size: 32px;
      font-size: calculateRem(32px); }
      .weapon-grid li a i {
        color: #333;
        display: block; }
  .weapon-grid li:first-child a {
    padding-left: 0; }
  .weapon-grid li:last-child a {
    padding-right: 0; }
  .weapon-grid li:hover i {
    color: #666666; }

footer {
  border-top: 1px solid #4d4d4d;
  margin: 40px auto 10px;
  padding: 20px 16px 0; }

* {
  color: #333;
  outline: none; }

body {
  background: #fefefe; }

.container {
  margin-top: 40px;
  padding-bottom: 40px; }

.container-404 {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .container-404 h1 {
    text-align: center;
    display: inline-block;
    font-size: 64px;
    font-size: calculateRem(64px); }
    .container-404 h1 small {
      display: block;
      font-size: 32px;
      font-size: calculateRem(32px); }
      .container-404 h1 small p a {
        text-decoration: none;
        border-bottom: 1px dashed #333;
        text-transform: uppercase; }

/*# sourceMappingURL=style.css.map */
