nav.nav {
    margin: 0 auto;

    color: $navigation_foreground_colour;

    ul {
        margin: 0 auto;
        padding: 0;
        position: relative;

        list-style: none;
        text-align: center;

        li {
            display: inline-block;

            padding: $navigation_item_padding;

            a {
                position: relative;
                display: block;

                border-bottom: 2px solid transparent;
                text-decoration: none;
                text-transform: uppercase;

                @include transition(border .125s ease-in-out);
            }
        }
        li.brand {
            padding-top: 0;
            vertical-align: middle;

            font-size: $brand_font_size;
        }

        li:hover { // Not logo
            a {
                border-bottom: 2px solid $navigation_foreground_colour;
            }
        }
        li.brand:hover {
            a {
                border-bottom: 2px solid transparent;
            }
        }
    }
}
