@import "vendor/simple-grid";

@import "util/variables";
@import "util/mixins";

@import "base/typography";

@import "component/image";
@import "component/gallery";
@import "component/navigation";

* {
    color: $foreground-colour;
    outline: none;
}

body {
    background: $background-colour;
}

.container {
    margin-top: 40px;
    padding-bottom: 40px;
}
