// Globals
$background-colour: #fefefe;
$foreground-colour: #333;

// Re-used variables
$zero_auto: 0 auto; // Used for - margin: 0 auto;

// Navigation variables
$navigation_foreground_colour: #333;
$navigation_item_padding: 6px 12px;
$brand_font_size: 60px;

// Content variables
$section-title-font-size: 40px;
