.gallery {
    margin: 0 auto;
    .sizer, .item {
        width: 33.333%;
    }

    .item {
        float: left;

        img {
            display: block;
            margin: auto;
            max-width: 90%;
            padding-bottom: 10%;

            @include transition(all .125s ease-in-out);
        }
    }
    .item:hover {
        img {
            @include transform(scale(1.05));
        }
    }

}
/* clear fix */
.gallery:after {
    content: '';
    display: block;
    clear: both;
}
